@use "./global/base";

@use "./composition/flow";
@use "./composition/grid";

@use "./components/link";
@use "./components/mainheader";
@use "./components/pageheader";
@use "./components/sidebar";
@use "./components/intro";
@use "./components/text";
@use "./components/image";
@use "./components/works-grid";
@use "./components/designers-grid";
@use "./components/works-detail";
@use "./components/designers-detail";
@use "./components/about";

@use "../node_modules/utopia-core-scss/src/utopia" as utopia;

@font-face {
  font-family: "Pretendard Variable";
  src: url("../asset/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* 1. 스크롤바 전체 뼈대 (두께 설정) */
::-webkit-scrollbar {
  width: 6px;  /* 세로 스크롤바 굵기 */
  height: 6px; /* 가로 스크롤바 굵기 */
}

/* 2. 스크롤바 배경 (트랙) */
::-webkit-scrollbar-track {
  background-color: oklab(100% 0 -0.00011); /* 연한 회색 배경 */
  border-radius: 10px;       /* 둥근 모서리 */
}

/* 3. 스크롤바 막대기 (썸) */
::-webkit-scrollbar-thumb {
  background-color: oklab(71.115% -0.08935 -0.11425); /* 기본 막대 색상 */
  border-radius: 10px;       /* 막대기도 둥글게 */
}

body {
  background: oklch(100% 0.00011 271.152);
}

ul,
ol {
  list-style: none;
}

.section {
  font-size: var(--step-4);

  > *:not(h1, h2, h3, h4, h5, h6) {
    font-size: var(--step-0);
  }

  &__list {
    & > * {
      --flow-space: 0.25em;
    }
  }
}

a {
  text-decoration: none;
}

.home-main-section {
  position: relative;
  width: 100%;
  height: calc(100vh - 5.25rem);
  overflow: hidden;
  background-color: #ffffff;

  #lottie-container {
    width: 100%;
    height: 100%;

    // !important 없이 순수 CSS 규칙으로 완벽 제어
    svg {
      display: block; // 인라인 여백 제거
      width: 100%;    // 부모 너비에 일치
      height: 100%;   // 부모 높이에 일치
    }
  }

  .typing-bar-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.page-home {
  overflow: hidden; /* 인덱스 페이지만 스크롤 잠금 */
}